.pregunta-admin { 
    border: 1px solid #ccc; 
    padding: 10px; 
    margin-bottom: 15px; 
    border-radius: 6px; 
    background: #fafafa; 
}
.respuestas-admin { 
    display: flex; 
    gap: 10px; 
    margin-top: 5px; 
}
.respuestas-admin div { 
    text-align: center; 
}
.respuestas-admin img { 
    max-width: 100px; 
    border-radius: 6px; 
}
form { 
    margin-top: 10px; 
}
.admin-navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #222;
    color: white;
    padding: 10px 20px;
}

.logout-button {
    background-color: #c0392b;
    color: white;
    padding: 5px 10px;
    text-decoration: none;
    border-radius: 5px;
}

.logout-button:hover {
    background-color: #e74c3c;
}
