body { 
    font-family: Arial, sans-serif; 
    margin: 20px; 
    background: #f5f5f5; 
}

h1 {
    text-align: center;
}

.pregunta { 
    margin-bottom: 40px; 
    padding: 20px; 
    background: #fff; 
    border-radius: 8px; 
}

.opciones-imagenes {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2 columnas */
    gap: 20px;
    margin-top: 15px;
}

.opcion {
    text-align: center;
    background: #eee;
    padding: 10px;
    border-radius: 8px;
}

.opcion img {
    width: 200px;        /* ancho fijo */
    height: 200px;       /* alto fijo */
    object-fit: cover;   /* recorta para que no se deforme */
    border-radius: 8px;
    cursor: pointer;
    transition: transform 0.2s;
}


.opcion img:hover {
    transform: scale(1.05);
    box-shadow: 0px 4px 10px rgba(0,0,0,0.2);
}

.opcion input {
    margin-top: 10px;
    cursor: pointer;
}

button {
    margin-top: 20px;
    padding: 12px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
