<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Harry Potter Quiz</title>
    <link rel="stylesheet" href="/static/css/index.css">
</head>
<body>

    <div class="overlay">

        <div class="container">

            <h1 class="titulo">Harry Potter Quiz</h1>

            <p class="subtitulo">
                Descubre a qué casa de Hogwarts perteneces
            </p>

            <div class="botones">

                <a href="/quiz">
                    <button class="btn jugar">
                        Jugar Quiz
                    </button>
                </a>

                <a href="/admin/login">
                    <button class="btn admin">
                        Panel Administrador
                    </button>
                </a>

            </div>

        </div>

    </div>

</body>
</html>
